@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
  }

  p {
    line-height: 1.6;
  }

  button:focus,
  a:focus,
  input:focus,
  textarea:focus,
  select:focus {
    outline: 2px solid #10b981;
    outline-offset: 2px;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .focus-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2;
  }
}
